@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFF2E4;
}

.hero {
    background-image: url('./assets/bgHero.png');
}

.menu {
    background-image: url('./assets/menuBg.png');
}

.feedback {
    background-image: url('./assets/feedBackBg.png');
}

@media( max-width:900px ){
    .hero {
        background-image: url('./assets/bgheroMobile.png');
    }

    .menu {
        background-image: url('./assets/bgMenuMobile.png');
    }

    .feedback {
        background-image: url('./assets/feedBackBgMobile.png');
    }
}